<!-- <button class="btn btn-primary">Add new product</button> -->
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of products">
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td>
        <img width="200px" [src]="item.images" alt="Hình ảnh sản phẩm" />
      </td>
      <td>{{ item.price }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button class="btn btn-warning">
          <a [routerLink]="['/admin/product-update', item.id]">Update</a>
        </button>
        <button class="btn btn-danger" (click)="deleteProduct(item.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
